In [1]:
name = "Ada Lovelace"
print(name.upper(), name.lower())

ADA LOVELACE ada lovelace

In [2]:
print("Languages:\n\tPython\n\tC\n\tJavaScript")

Languages:
	Python
	C
	JavaScript

In [3]:
famous_person = 'Albert Einstein'
message =f"Thanks for the good work, {famous_person}"
print(message)

Thanks for the good work, Albert Einstein

In [4]:
2 + 3

5

In [5]:
10 ** 6

1000000

In [6]:
0.2 + 0.2

0.4

In [7]:
0.2 + 0.1

0.30000000000000004

In [8]:
4/2

2.0

In [9]:
1 + 2.0

3.0

In [10]:
universe_age = 14_000_000_000
universe_age

14000000000

In [11]:
print(5+3, 2*4, 12-4, 16/2)

8 8 8 8.0

In [12]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [13]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [14]:
print(bicycles[0].title())

Trek

In [15]:
print(bicycles[-1])

specialized

In [16]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
motorcycles.insert(0, 'bugati')
motorcycles

['bugati', 'honda', 'yamaha', 'suzuki', 'ducati']

In [17]:
popped_motorcycle = motorcycles.pop()
print(motorcycles, popped_motorcycle)

['bugati', 'honda', 'yamaha', 'suzuki'] ducati

In [18]:
popped_motorcycle = motorcycles.pop()
print(motorcycles, popped_motorcycle)

['bugati', 'honda', 'yamaha'] suzuki

In [19]:
popped_motorcycle = motorcycles.pop()
print(motorcycles, popped_motorcycle)

['bugati', 'honda'] yamaha

In [20]:
popped_motorcycle = motorcycles.pop()
print(motorcycles, popped_motorcycle)

['bugati'] honda

In [21]:
popped_motorcycle = motorcycles.pop()
print(motorcycles, popped_motorcycle)

[] bugati

In [22]:
popped_motorcycle = motorcycles.pop()
print(motorcycles, popped_motorcycle)

IndexError: pop from empty list

In [23]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']

In [24]:
motorcycles.remove('ducati')
motorcycles

['honda', 'yamaha', 'suzuki']

In [26]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [28]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(sorted(cars, reverse=True), cars)

['toyota', 'subaru', 'bmw', 'audi'] ['bmw', 'audi', 'toyota', 'subaru']

In [29]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician)

alice
david
carolina

In [30]:
pizzas = ['pepperoni', 'veggie', "meat lover's", 'Hawaiian']
for pizza in pizzas:
    print(f'I really love {pizza} pizza!')
print('Each is wonderful in its own way.')

I really love pepperoni pizza!
I really love veggie pizza!
I really love meat lover's pizza!
I really love Hawaiian pizza!
Each is wonderful in its own way.

In [37]:
for value in range(1,6):
    print(value, end=' ')

1 2 3 4 5

In [36]:
numbers = list(range(1, 6))
numbers

[1, 2, 3, 4, 5]

In [38]:
even_numbers = list(range(2, 11, 2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [39]:
for value in even_numbers:
    print(value, end=' ')

2 4 6 8 10

In [40]:
squares = [x ** 2 for x in range(12)]
for value in squares:
    print(value, end=' ')

0 1 4 9 16 25 36 49 64 81 100 121

In [41]:
def prvals(x):
    for value in x:
        print(value, end=' ')

In [42]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
prvals(digits)

1 2 3 4 5 6 7 8 9 0

In [43]:
min(digits)

0

In [44]:
max(digits)

9

In [45]:
sum(digits)

45

In [47]:
to_twenty = range(1,21)
prvals(to_twenty)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [48]:
mil = range(1,1000001)
print(min(mil), max(mil))

1 1000000

In [49]:
sum(mil)

500000500000

In [50]:
odds = range(1, 20, 2)
prvals(odds)

1 3 5 7 9 11 13 15 17 19

In [55]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
prvals(players[-3:])

michael florence eli

In [56]:
for player in players[:3]:
    print(player.title())

Charles
Martina
Michael

In [57]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]

In [60]:
prvals(friend_foods)

pizza falafel carrot cake

In [61]:
my_foods.append('cannoli')
friend_foods.append('ice cream')

In [63]:
prvals(my_foods)
print()
prvals(friend_foods)

pizza falafel carrot cake cannoli
pizza falafel carrot cake ice cream

In [64]:
car = 'Audi'
car.lower() == 'audi'

True

In [65]:
requested_topping = 'mushrooms'

if requested_topping != 'anchovies':
    print("Hold the anchovies!")

Hold the anchovies!

In [73]:
THE_ANSWER = 42
while (answer := int(input("Answer: "))):
    if answer != THE_ANSWER:
        print(f"{answer} is not the correct answer. Please try again!")
    else:
        print(f"Yes! The answer is {THE_ANSWER}")
        break

17 is not the correct answer. Please try again!
Yes! The answer is 42

In [74]:
car = 'subaru'
print("Is car == 'subaru'? I predict True.")
print(car == 'subaru')

Is car == 'subaru'? I predict True.
True

In [75]:
print("\nIs car == 'audi'? I predict False.")
print(car == 'audi')

Is car == 'audi'? I predict False.
False

In [83]:
ord = [str(i) for i in range(1,10)]

for istr in ord:
    i = int(istr)
    ix = ord.index(istr)
    
    if i > 3:  
        ordsuf = 'th'
    elif i == 3: 
        ordsuf = 'rd'
    elif i == 2: 
        ordsuf = 'nd'
    elif i == 1: 
        ordsuf = 'st'
    ord[ix] = istr + ordsuf

prvals(ord)

1st 2nd 3rd 4th 5th 6th 7th 8th 9th